@import "../../config/theme";


.root {
    // background-color: green;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    bottom: auto;



    .appBar {
        // background-color: blue;
        // height: 200px;
        // position: fixed;
        // top: 20px;
    }


    .main {
        // display: block;
        position: relative;
        top: 0;

        width: 100%;
        height: 84vh;
        // background-color: aqua;
        // padding-top: @appBarHeight+4px;
        // padding-bottom: @appBarHeight+4px;
        // position: relative;

        // padding-top: 5px;
        // margin-bottom: 200px;


    }
}


.postItem {
    // background-color: blue;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;

    .row {
        display: flex;
        flex-direction: row;
        // background-color: blue;

        .avatar {
            margin: 4px 15px 10px 0px;
        }
    }

    .content {
        // background-color: yellow;
        margin: 1px 5px 5px;
        color: black;
        font-size: 14px;
        font-weight: 400;

    }


}